[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
Wants=consul.service consul.service
ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
Type=notify
User=vagrant
Group=vagrant
ExecStart=/bin/bash 'PORT=9002 COUNTING_SERVICE_URL=http://localhost:5000 ./etc/consul.d/services/bin/dashboard-service'
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
