[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
Wants=consul.service consul.service
ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
Type=notify
User=vagrant
Group=vagrant
ExecStart=/usr/local/bin/consul connect envoy -sidecar-for dashboard -admin-bind localhost:19005 -address "{{ GetInterfaceIP \"eth1\" }}:21005"
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
