[Unit]
Description="HashiCorp Consul - A service mesh solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
Wants=consul.service consul.service
ConditionFileNotEmpty=/etc/consul.d/consul.hcl

[Service]
Type=notify
User=vagrant
Group=vagrant
ExecStart=/bin/bash 'LISTEN_ADDR=0.0.0.0:19090 ./etc/consul.d/service/bin/fake-service'
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
