[Unit]
Description="HashiCorp Consul-Envoy - Mesh GW Connect Service"
Documentation=https://www.consul.io/docs/connect/proxies/envoy
Requires=network-online.target consul.service
After=network-online.target consul.service

[Service]
Type=notify
User=consul
Group=consul
ExecStart=/usr/local/bin/consul consul connect envoy -gateway=mesh -register -service "mesh-gateway-dc1" -address "$( ifconfig eth1 | grep "inet " | awk '{print $2}' ):8443" -wan-address="$( ifconfig eth2 | grep "inet " | awk '{print $2}' ):8443" -token=$( cat /vagrant/consul/acl/bootstrap ) -ca-file="/etc/consul.d/tls/consul-agent-ca.pem" -client-cert="/etc/consul.d/tls/dc1-server-consul-0.pem" -client-key="/etc/consul.d/tls/dc1-server-consul-0-key.pem" -grpc-addr="https://127.0.0.1:8502" -admin-bind "0.0.0.0:19000" -bind-address="mesh-gateway-dc1=$( ifconfig eth1 | grep "inet " | awk '{print $2}' ):8443" -- -l trace &> envoy.out
ExecReload=/bin/kill --signal HUP $MAINPID
KillMode=process
KillSignal=SIGTERM
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
