[Unit]
Description="HashiCorp Consul-KV - A vault storage solution"
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target
ConditionFileNotEmpty=/etc/consul-kv.d/consul.hcl

[Service]
Type=notify
User=consul-kv
Group=consul-kv
ExecStart=/usr/local/bin/consul agent -config-dir=/etc/consul-kv.d/
ExecReload=/usr/local/bin/consul reload
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
